header{
    height: 116vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* =========CTA======= */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.3rem;
    justify-content: center;
}

/* =========socials======= */

.header__socials{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;

}
.header__socials::after{
    content: '';
    width: 1.5px;
    height: 2rem;
    background: var(--color-primary);
}

/* ==========ME======= */

.me{
    background: transparent;
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0 3rem;
}

/* ==========scroll=========== */

.scroll__down{
    position: absolute;
    right:-2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
}


/* =======================tablets============= */

@media screen and (max-width:1024px){
    header{
        height: 65vh;
    }
}
  /* =======================smartphones============= */
  
  @media screen and (max-width:600px){
    header{
        height: 80vh;
    }
    .header__socials, .scroll__down{
        display: none;
    }
  }

  @media screen and (max-width:450px){
    header{
        height: 100vh;
    }
}